<div
  class="task-item"
  [ngClass]="{ completed: task.completed }"
  (mouseenter)="hover = true"
  (mouseleave)="hover = false"
>
  <div class="task-content">
    <div class="check">
      <mat-checkbox
        [(ngModel)]="task.completed"
        color="primary"
        (change)="checkChange.emit(task.completed); openAlert()"
      ></mat-checkbox>
    </div>

    <div class="title">
      <span>{{ task.title }}</span>
    </div>
    <button
      mat-button
      color="accent"
      (click)="openDetailDialog()"
      class="detail-button"
    >
      Detalhar
    </button>
    <button matIconButton (click)="actionDelete()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
