.task-item {
  padding: 5px;
  margin-bottom: 8px;
  position: relative;
  background-color: #fff;
  border: 1px solid #8a8a8a;
  width: 100%;

  .title {
    flex-grow: 1;
    margin-left: 8px;
    width: 80%;
  }

  .task-content{
    display: flex;
    align-items: center;;
  }

  .detail-button {
    font-size: 12px;
  }

  &.completed {
    opacity: 0.6;
    text-decoration: line-through;
  }
  
}
